version: "3"

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        INSTALL_NODE: "true"
        NODE_VERSION: "lts/*"
        PACKAGE_NAME: "file-services-backend"
        # On Linux, you may need to update USER_UID and USER_GID below if not your local UID is not 1000.
        USER_UID: 1000
        USER_GID: 1000

    init: true

    # Makes testcontainers work on linux based hosts
    extra_hosts:
      - host.docker.internal:host-gateway

    volumes:
      - ..:/workspace:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    # Uncomment the next line to use a non-root user for all processes.
    user: vscode

    # define environment variables
    environment:
      IFRS_CONFIG_YAML: /workspace/services/ifrs/dev_config.yaml
      PCS_CONFIG_YAML: /workspace/services/pcs/dev_config.yaml
      UCS_CONFIG_YAML: /workspace/services/ucs/dev_config.yaml
      DCS_CONFIG_YAML: /workspace/services/dcs/dev_config.yaml
      EKSS_CONFIG_YAML: /workspace/services/ekss/dev_config.yaml
      FIS_CONFIG_YAML: /workspace/services/fis/dev_config.yaml
