# Copyright 2022-2023 Universität Tübingen, DKFZ and EMBL
# for the German Human Genome-Phenome Archive (GHGA)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: "Push to docker on new release"

on:
  release:
      types: [published]

env:
  IFRS_CONFIG_YAML: ./services/ifrs/dev_config.yaml
  PCS_CONFIG_YAML: ./services/pcs/dev_config.yaml
  UCS_CONFIG_YAML: ./services/ucs/dev_config.yaml
  DCS_CONFIG_YAML: ./services/dcs/dev_config.yaml
  EKSS_CONFIG_YAML: ./services/ekss/dev_config.yaml
  FIS_CONFIG_YAML: ./services/fis/dev_config.yaml

jobs:
  get-tag:
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.get-release-tag.outputs.commit }}
      base_sha: ${{ steps.setup-variables.outputs.base_sha }}
      fetch_depth_compare: ${{ steps.setup-variables.outputs.fetch_depth_compare }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Get commit hash for previous release tag from git history
      # As we are running this on publish, a new tag for the current release is already
      # created
      - name: Get latest tag preceding this release
        id: get-release-tag
        run: |
          # get the two latest tags along branch
          tags=$(git log --simplify-by-decoration --decorate --pretty=oneline | grep -Po "(?<=tag: ).*?(?=[\),])" | head -n 2)
          # check if there are actually two
          if [ $(echo "$tags" | wc -l) -eq 2 ]
          then
            # get commit hash for tag and write to output
            tag=$(echo "$tags" | tail -n 1)
            commit=$(git rev-parse "$tag"^{commit})
            echo "commit=$commit" >> $GITHUB_OUTPUT
          fi

      # If there is no previous tag, some variables need to be set up
      # base_sha is the first commit to the repo - awk is used to just print the
      # first column of the output which is the short form hash)
      # fetch_depth is set up as number of all commits on the branch
      - name: Set up needed variables
        id: setup-variables
        if: ${{ steps.get-release-tag.outputs.commit == '' }}
        run: |
          echo "base_sha=$(git log --oneline | tail -n1 | awk '{print $1}')" >> $GITHUB_OUTPUT
          echo "fetch_depth_compare=$(git log --oneline | wc -l)" >> $GITHUB_OUTPUT

  #
  # Run this if we have a commit hash for a tag
  # We assume there is not a large range of commits and we can go with the default
  # fetch depth here
  check-changes-with-release-tag:
    needs: get-tag
    if: ${{ needs.get-tag.outputs.commit != '' }}
    uses: ./.github/workflows/get_affected_services.yaml
    with:
      base_sha: ${{ needs.get-tag.outputs.commit }}

  # Run this, if there's no tag yet.
  # Needs custom fetch depth for comparison to fit large history
  # Checkout depth of 0 means fetch everything
  check-changes-without-release-tag:
    needs: get-tag
    if: ${{ needs.get-tag.outputs.commit == '' }}
    uses: ./.github/workflows/get_affected_services.yaml
    with:
      base_sha: ${{ needs.get-tag.outputs.base_sha }}
      fetch_depth_checkout: 0
      fetch_depth_compare: ${{ needs.get-tag.outputs.fetch_depth_compare }}


  changed-services:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: [check-changes-with-release-tag, check-changes-without-release-tag]
    outputs:
      services: ${{ steps.prepare-output.outputs.services }}

    # Bundle output into one variable depending on chosen branch
    steps:
      - name: Prepare output
        id: prepare-output
        run: |
          if ${{ needs.check-changes-with-release-tag.outputs.services != '' }}
          then
            echo "services=${{ toJSON(needs.check-changes-with-release-tag.outputs.services) }}" >> $GITHUB_OUTPUT
          else
            echo "services=${{ toJSON(needs.check-changes-without-release-tag.outputs.services) }}" >> $GITHUB_OUTPUT
          fi

  push-to-docker:
    runs-on: ubuntu-latest
    needs: changed-services
    # Job failure propagates downwards through the job graph
    # As one of the check-changes-* jobs has to fail, the failure state needs to be
    # explicitly ignored adding the always condition to the existing check
    if: ${{ needs.changed-services.outputs.services != '' && needs.changed-services.outputs.services != '[]' && always() }}
    strategy:
      matrix:
        service: ${{ fromJson(needs.changed-services.outputs.services) }}
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python 3.13
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install casefy and typer
        id: setup-casefy
        run: pip install casefy typer

      - name: Extract service name for ${{ matrix.service }}
        id: extract-service-name
        shell: bash
        run: |
          echo name=$(python3 scripts/service_name.py ${{ matrix.service }}) >> $GITHUB_OUTPUT

      - name: Extract service version for ${{ matrix.service }}
        id: extract-service-version
        shell: bash
        run: |
          echo version=$(python3 -c "import tomllib; print(tomllib.load(open('services/${{ matrix.service }}/pyproject.toml', 'rb'))['project']['version'])") >> $GITHUB_OUTPUT

      - name: Create current docker tag
        id: docker-tag
        run: |
          echo tag="ghga/${{ steps.extract-service-name.outputs.name }}:${{ steps.extract-service-version.outputs.version }}" >> $GITHUB_OUTPUT

      - name: Ensure that tag complies with semantic versioning.
        uses: matt-usurp/validate-semver@v2
        with:
          version: ${{ steps.extract-service-version.outputs.version }}

      - name: Check if docker image already exists
        id: check-image-exists
        run: |
          # disable some defaults so there are no early exits
          set +eo pipefail
          # fail explicitly if we already have an image
          if docker pull "docker.io/${{ steps.docker-tag.outputs.tag }}"
          then
            echo image_exists=true >> $GITHUB_OUTPUT
          else
            echo image_exists=false >> $GITHUB_OUTPUT
          fi

      - name: Push to Docker Hub
        id: docker-push
        if: ${{ steps.check-image-exists.outputs.image_exists == 'false' }}
        uses: ./.github/workflows/push_to_docker
        with:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
          service: ${{ matrix.service }}
          tag: ${{ steps.docker-tag.outputs.tag }}
